
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006CDC;
    padding: 10px 50px;
    color: white;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; /* Убедитесь, что кнопка отображается поверх других элементов */
}

.floating-button img {
    width: 80px; /* Размер изображения */
    height: 80px;
    border-radius: 50%; /* Если хотите, чтобы кнопка была круглой */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Небольшая тень для улучшения видимости */
}

.logo img {
    width: 200px;
    height: auto;
}
.litle {

    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0;
    text-align: left; /* Default, additional options: center, right, justify */

    color: #FFFFFF;
}

.nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px 50px;
    background-color: white;
}
h2{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0;
    text-align: left; /* Default, additional options: center, right, justify */
}
h1 {
    font-size: 32px;
    text-align: center;
}

.search-bar {

    display: flex;
    background-color: #f1f8ff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 100px;
    align-items: stretch; /* Устанавливает все элементы на одинаковую высоту */
    margin-bottom: 20px;
}
.search-bar button{
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-item {

    display: flex;
    background-color: #f1f8ff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 100px;
    align-items: stretch; /* Устанавливает все элементы на одинаковую высоту */
    margin-bottom: 20px;
}


.task-item img {
    width: 550px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.task-info h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.task-info p {
    margin: 0 0 10px;
    font-size: 16px;
}

.task-info span {
    font-size: 14px;
    color: #555;
}

.task-info button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.button12 {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.task-info button:hover {
    background-color: #007bff;
    color: white;
}
.task-info {
    flex-grow: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяет пространство между элементами */
}
.icon-wrapper {
    display: flex;
    align-items: center; /* Центрирует изображение по вертикали */
    justify-content: center; /* Центрирует изображение по горизонтали, если нужно */
    padding-left: 50px; /* Отступ в 50 пикселей слева от кнопки */
}
.icon-wrapper img{
    width: 50px; /* Размер иконки */
    height: 50px;
}
.small-icon {
    width: 25px; /* Размер иконки */
    height: 25px;
}
.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Создаем стиль для кастомного чекбокса */
.custom-checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/* Стиль для квадратного индикатора */
.custom-checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 4px; /* Закругление углов, можно убрать для квадратного вида */
}

/* Стиль для индикатора, когда чекбокс выбран */
.custom-checkbox:checked + .custom-checkbox-label::before {
    background-color: #2196F3; /* Цвет заливки при выборе */
}

/* Создаем галочку */
.custom-checkbox-label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

/* Показываем галочку, когда чекбокс выбран */
.custom-checkbox:checked + .custom-checkbox-label::after {
    opacity: 1;
}
.task-item form {
    width: 100%;
    height: 100%;
}

.task-item .button12 {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;
    text-align: left;
}