<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специальные Задания</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <img src="http://127.0.0.1:9000/prog/bmstu_logo.png" alt="Логотип">
    </div>
    <nav class="nav">
        <a href="/tasks">Задания</a>
    </nav>
</header>
<main>
    <h1>Заявка для группы {{ .Request.RequestGroup }}</h1>
    <h1>Дата создания: {{ .Request.DateCreate.Format "02.01.2006" }}</h1>
    <div class="task-list">
        {{ range $index, $task := .Tasks }}
        <div class="task-item">
            <img src="{{ $task.Image }}" alt="Задание {{ $task.ID }}" width="150" height="150">
            <div class="task-info">
                <h3>{{ $task.Title }}</h3>
                <span class="hours">{{ $task.Minutes }} минут на выполнение</span>
                <form>

                    {{ range $isbooltrue, $tmp := $.Request.RequestTasks  }}
                    {{ $isthisfragmenttrue := eq $isbooltrue $task }}
                    {{ if $isthisfragmenttrue }}
                    <input type="checkbox" id="checkbox{{$task.ID}}" disabled {{ if index $.Request.RequestTasks $isbooltrue }}checked{{ end }} class="custom-checkbox">
                    <label for="checkbox{{$task.ID}}" class="custom-checkbox-label">{{ if index $.Request.RequestTasks $isbooltrue }}Обязательное{{ else }}Необязательное{{ end }}</label>
                    {{ end }}
                    {{ end }}
                </form>
                <a href="/task/{{ $task.ID }}" style="text-decoration: none;" class="button12">Подробнее</a>
            </div>
        </div>
        {{ end }}
    </div>
</main>
</body>
</html>
